header {
  position: relative;
  h1 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 20px 0;
    padding: 12px 24px;
    font-family: "Playfair Display";
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }
}
